.row {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.piece {
  position: relative;
  list-style: none;
  width: 100%;
  height: 100%;
}

.tile-image {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.available-move {
  opacity: 55%;
}

.available-move:hover {
  opacity: 100%;
}

.available-rotation {
  opacity: 55%;
  height: 100%;
}

.available-rotation:hover {
  opacity: 100%;
  height: 100%;
}
